cycler==0.10.0
Cython==0.25.2
freenect==0.0.0
functools32==3.2.3.post2
imutils==0.4.3
matplotlib==2.0.0
numpy==1.10.4
PyOpenGL==3.1.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
scipy==0.17.1
six==1.10.0
subprocess32==3.2.7
wxPython==3.0.0.0
wxPython-common==3.0.0.0
